@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('../images/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-position: 90% -25%;
  background-size: 800px;
}

#cta {
  background-image: url('../images/bg-simplify-section-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1440px) {
  body {
    background-position: 50% 50%;
    background-size: 500px;
  }
  #cta {
    background-image: url('../images/bg-simplify-section-mobile.svg');
  }
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all .25s;
  position: relative;
}

.ham-top,
.ham-mid,
.ham-btm {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all .5s;
}

.ham-mid {
  transform: translateY(7px);
}

.ham-btm {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}
.open .ham-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .ham-mid {
  display: none;
}
.open .ham-btm {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
